<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is my first template</h1>
<p>This is my paragraph</p>
<img src="{% static 'Cute_Exam.jpg' %}" height="200px" width="200px">
<video height="300px" width="300px" controls>
    <source src="{% static 'Brother Sister Malayalam Full Screen-(MirchiStatus.com).mp4' %}">
</video>
<audio controls>
    <source src="{% static 'Love Whatsapp status - BGM.mp3' %}">
</audio>
<a href="Questions.pdf" download="" title="">Download</a>

</body>
</html>